.footer-containet {
  color: rgb(0, 0, 0);
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}

.footerContainer {
  display: flex;
  max-width: 1200px;
  text-align: center;
}

.footerSection {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  text-align: center;
}


.footerSection p,
.footerSection a {
  color: #000000;
  text-decoration: none;
}


@media (max-width: 600px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}